.appTextArea{
    max-width: 300px;
    width: 100%;
    min-height: 100px;
    border: 2px solid rgb(19, 19, 22);
    resize: none;
    padding: 10px;
    font-size: 16px;
    outline: none;
    border-radius: 10px;
}