.section{
    position: relative;
    width: 100%;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.section::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.6);
}
.section__title{
    font-size: 55px;
    font-weight: bold;
    color: aliceblue;
    padding: 0;
    margin-top: 30px;
    margin-bottom: 0;
    z-index: 2;
}
@media(max-width:500px){
    .section__title{
        font-size: 45px;
    }
}