.footer{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
    background-color: rgb(19, 20, 22);
}
.footer__content{
    display: flex;
    max-width: 350px;
    width: 100%;
    justify-content: space-between;
}
.footer__link{
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 2px solid transparent;
    transition: border-bottom .2s linear;
}
.footer__link:hover{
    border-bottom: 2px solid white;
}

@media(max-width: 500px){
    .footer__content{
        flex-direction: column;
        align-items: center;
    }
}