.about{
    background-image: url("../../../assets/img/about.jpg") ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.about-content{
    margin: 40px 0;
    max-width: 1050px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}
.about-content__image{
    max-width: 400px;
    width: 100%;
}
.about-content__image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.about-content__text{
    margin: 30px 0;
    font-size: 25px;
    max-width: 500px;
    color: aliceblue;
}
@media(max-width: 950px){
    .about-content{
        justify-content: center;
    }
}
@media(max-width:500px){
    .about-content__image{
        max-width: 220px;
    }
    .about-content__text{
        margin: 30px;
        font-size: 20px;
    }
}