.center{
  background: url('../../../assets/img/img3.jpg')no-repeat;
  min-height: calc(100vh - 76px) !important;
  background-size: cover;
  background-position: center;
  }
.center__content{
  color: #fff;
  font-weight: 600;
  z-index: 2;
}
.center__title{
  font-size: 55px;
}
.center__sub-title{
  font-size: 52px;
}
.center_buttons{
  margin-top: 20px;
}
.center__buttons button:last-child{
  background: white;
  color: black;
}
@media(max-width: 700px){
  .center__content{
    margin: 0 30px;
  }
  .center__title{
    font-size: 35px;
  }
  .center__sub-title{
    font-size: 32px;
  }
}