.services{
    position: relative;
    width: 100%;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url("../../../assets/img/services.jpg") ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.services::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.6);
}
.services-content{
    margin: 40px 0;
    width: 100%;
    z-index: 2;
    text-align: center;
    display: flex;
    justify-content: center;
}
.services__title{
    font-size: 55px;
    font-weight: bold;
    color: aliceblue;
    padding: 0;
    margin-top: 30px;
    margin-bottom: 0;
    z-index: 2;
}
.services-content__text{
    margin: 30px 0;
    font-size: 25px;
    max-width: 900px;
    color: aliceblue;
}
@media(max-width:700px){
    .services__title{
        font-size: 45px;
    }
    .services-content__text{
        font-size: 20px;
        margin: 0 30px;
    }
}