.appButton{
    border-radius: 5px;
    border: none;
    margin: 10px;
    border: 2px solid white;
    color: #fff;
    background: transparent;
    font-size: 20px;
    font-weight: 500;
    padding: 12px 30px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
}
.appButton:hover{
    background: white;
    color: #000;
}